.bracket-container {
    position: relative;
    display: flex;
    flex-direction: column;
  }
  
  .bracket-svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .team-box {
    position: absolute;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 50%;
  }
  
  .team-content {
    display: flex;
    align-items: center;
    width: 100%;
    padding-left: 0.5rem;
    padding-right: 0;
  }
  
  .seed {
    text-align: left;
    font-size: 60%;
    width: 10%;
    order: 1;
  }
  
  .team-name {
    text-align: left;
    flex: 1;
    font-weight: bold;
    font-size: 90%;
    order: 2;
  }
  
  .score {
    text-align: right;
    padding-right: 0.25rem;
    font-weight: bold;
    order: 3;
  }
  
  .team-content.reverse {
    display: flex;
    align-items: center;
    width: 100%;
    padding-left: 0;
    padding-right: 0.5rem;
  }

  .team-content.reverse .seed {
    text-align: right;
    font-size: 60%;
    width: 10%;
    order: 3;
  }
  
  .team-content.reverse .team-name {
    text-align: right;
    flex: 1;
    font-weight: bold;
    font-size: 90%;
    order: 2;
  }
  
  .team-content.reverse .score {
    text-align: left;
    padding-left: 0.25rem;
    font-weight: bold;
    order: 1;
  }