.bracket-container {
    position: relative;
    display: flex;
    flex-direction: column;
  }
  
  .bracket-svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .team-box {
    position: absolute;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 50%;
    padding-left: 0.5rem;
  }
  
  .seed {
    text-align: center;
    font-size: 60%;
    width: 10%;
  }
  
  .team-name {
    flex: 1;
    font-weight: bold;
  }
  
  .score {
    text-align: right;
    padding-right: 0.5rem;
    font-weight: bold;
  }
  