.tournament-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1rem;
}

.bracket-header {
    width: 100%;
}

.bracket-grid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-bottom: 7rem;
}

.bracket-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.final-four {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -18rem;
}

.final-four-bracket {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}