.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #afe2ff;
}
  
.login-form {
    background: white;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    width: 325px;
}

.login-header {
    text-align: center;
    margin-bottom: 15px;
}

.input {
    margin-bottom: 10px;
}

.input input {
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.checkbox {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.checkbox p {
    margin: 0 0 0 5px;
}

button {
    cursor: pointer;
    padding: 8px;
    border-radius: 5px;
    border: none;
    width: 325px;
}

.submit {
    width: 325px;
    background-color: #4a90e2;
    color: white;
    margin-bottom: 15px;
}

.submit:disabled {
cursor: not-allowed;
background-color: #ccc;
}

.actions {
display: flex;
flex-direction: column;
}

.create-account-btn {
margin-bottom: 10px;
background-color: white;
border: 1px solid #c1bfbf;
}

.forgot-password-btn {
background-color: transparent;
color: #4a90e2;
text-decoration: underline;
}