.bracket-container {
    background-color: #ffffff;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .header-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
  }
  
  .header-row div {
    text-align: center;
    padding-right: 20px;
    padding-left: 20px;
  }
  
  .rounds div {
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 16px;
  }
  

  .dates div {
    /*color: rgb(17, 186, 252); */
    color: rgb(255, 85, 6);
    font-size: 14px;
  }